* {margin: 0; padding: 0;}

body{
    margin:auto;
    color: white;
    background: #7200a4;
}

div{
    width:350px;
    margin:70px auto;
    background: #4e0038; 
    border-radius: 4px;
    -webkit-box-shadow:
        0 5px 15px 1px rgba(0, 0, 0, 0.6), 
        0 0 200px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 
        0 5px 15px 1px rgba(0, 0, 0, 0.6), 
        0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/* To-do List */
div h2{
    line-height:70px;
    padding:0 18px;
    width:120px;
}

div a{  
    text-decoration: none;
    color: white;
}

div li{
    list-style-type: none; 
    display:block; 
      
}

/* title */
div ul li.title{
    line-height:40px;
    background: #b8186c;
    background: linear-gradient(#b8186c,#b8185b); 
    font: bold; 
    font-size: 19px;
    padding: 0 18px;
    border-radius: 4px 4px 0px 0px;
    margin-top:1.5px;
}

/* event */
div ul ul li{
    background: #ff76bc;
    line-height:32px;
    padding:0 34px;
    transition: ease-out 0.15s;
}

div ul ul li:hover{
    padding:0 40px;
    background: #e064b8;
}

/* default 
div ul ul{
    display:none;   
}

div ul ul.active{
    display:block;   
}*/

input{
    width:150px;
    height: 30px; 
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding-left: 1em;
    font-size: .6em;
}

span{
    margin-left: 59px;
    height: 41px;    
}