---
layout: default
title: 
---
<h1 id="index-title">Yvonne Zhang: 深思考，多践行</h1>

<h2>随记</h2>
<ul>
	{% for post in site.posts %}
	{% if post.tags contains "随记" %}
	<li class="post-title">
		<span class="post-date">{{ post.date | date_to_string }}</span> <span class="arrow"> > </span>
		<a href="{{ site.baseurl }}{{ post.url }}"  target="_blank">{{ post.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>

<h2>CSS学习笔记</h2>
<ul>
	{% for post in site.posts %}
	{% if post.tags contains "css学习笔记" %}
	<li class="post-title">
		<span class="post-date">{{ post.date | date_to_string }}</span> <span class="arrow"> > </span>
		<a href="{{ site.baseurl }}{{ post.url }}"  target="_blank">{{ post.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>

<h2>CSS学习笔记</h2>
<ul>
	{% for post in site.posts %}
	{% if post.tags contains "css学习笔记" %}
	<li class="post-title">
		<span class="post-date">{{ post.date | date_to_string }}</span> <span class="arrow"> > </span>
		<a href="{{ site.baseurl }}{{ post.url }}"  target="_blank">{{ post.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>

<h2>Demo</h2>
<div class="demo">
	<div>
		<h3 class="demo-title">Simple CSS to-do list</h3>
		<p class="explaination">A very simple CSS to-do list. A lot of work undone.</p>
		<iframe src="http://codepen.io/YvonneZhang/full/btaLn"></iframe>
	</div>
	<div>
		<h3 class="demo-title">Checkout Button</h3>
		<p class="explaination">Use CSS properties alone.</p>
		<iframe src="http://codepen.io/YvonneZhang/full/Kgicd"></iframe>
	</div>
	<div>
		<h3 class="demo-title">Positioning - CSS Exercise</h3>
		<p class="explaination">Exercise of CSS Mastery Chapter 3.</p>
		<iframe src="http://codepen.io/YvonneZhang/full/wcCHg"></iframe>
	</div>
</div>