---
layout: default
title: 
---
<h1 id="index-title">Yvonne Zhang: 深思考，多践行</h1>
<h2>最新文章</h2>
<ul>
	{% for post in site.posts %}
	<li>
		{{ post.date | date_to_string }}
		<a href="{{ site.baseurl }}{{ post.url }}"  target="_blank">{{ post.title }}</a>
	</li>
	{% endfor %}
</ul>

<h2>随记</h2>
<ul>
	{% for post in site.posts %}
	{% if post.tags contains "随记" %}
	<li>
		{{ post.date | date_to_string }} >> <a href="{{ site.baseurl }}{{ post.url }}"  target="_blank">{{ post.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<h2>Demo</h2>
<div class="demo">
	<p data-height="220" data-theme-id="2162" data-slug-hash="Kgicd" data-user="YvonneZhang" data-default-tab="result" class='codepen'>
		See the Pen
		<a href='http://codepen.io/YvonneZhang/pen/Kgicd'>Checkout Button</a>
		by Yvonne Zhang (
		<a href='http://codepen.io/YvonneZhang'>@YvonneZhang</a>
		) on
		<a href='http://codepen.io'>CodePen</a>
	</p>
	<p data-height="268" data-theme-id="2162" data-slug-hash="exFdc" data-user="YvonneZhang" data-default-tab="result" class='codepen'>
		See the Pen
		<a href='http://codepen.io/YvonneZhang/pen/exFdc'>Simple CSS to-do list</a>
		by Yvonne Zhang (
		<a href='http://codepen.io/YvonneZhang'>@YvonneZhang</a>
		) on
		<a href='http://codepen.io'>CodePen</a>
	</p>
</div>