<div id="sidebar">
    <div id="photo">
        <img src="/myblog/image/yvonne_cartoon.jpg" alt="Yvonne Zhang">
    </div>
    <div class="sidebar-title">About me</div>
    <div class="brief-profile">
        Beginner Front-End Web Developer
        <br>@ SEI, ECNU, Shanghai, China</div>
    <div class="sidebar-title">Contact me</div>
    <div class="brief-profile">
        <a href="https://twitter.com/YvonneZhang_LOL" target="_blank">twitter</a>
        <br>
        <a href="http://www.zhihu.com/people/yvonne-zhang" target="_blank">zhihu</a>
        <br>
        <a href="mailto:zhyifa001@gmail.com" target="_blank">gmail</a>
        <br>
        <a href="http://weibo.com/u/3023216940" target="_blank">weibo</a>
        <br>
        <a href="https://github.com/YvonneZhang" target="_blank">github</a>
    </div>
</div>
