<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beginner Front-End Web Developer @ SEI, ECNU, Shanghai, China" />
    <meta name="keywords" content="yvonne zhang," />
    <title>{% if page.title %}{{ page.title }} | {% endif %}Yvonne Zhang: 定知一日帆，使得千里风</title>
    <link href="/myblog/image/up.ico" rel="shortcut icon" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/myblog/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/myblog/css/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/myblog/css/gh-fork-ribbon.ie.css">
    <![endif]-->
</head>

<body>
    <!-- my resume ribbon -->
    <div id="myResumeRibbon" class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="http://yvonnezhang.github.io/myblog/hireme/" target="_blank">My Resume</a>
        </div>
    </div>

    <!-- sidebar -->
    {% include sidebar.html %}

    <!-- main content -->
    <div id="page">
        {{ content }}
        <!-- disqus -->
        {% include disqus.html %}
        <!-- footer -->
        {% include footer.html %}
    </div>

    <!-- to top -->
    {% include top.html %}
    <!-- codepen js -->
    <script src="http://codepen.io/assets/embed/ei.js"></script>
    <!-- diqus js -->
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'yvonnezhang'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</body>

</html>
