---
css: true
javascript: true
---
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% if page.title %}{{ page.title }} | {% endif %}Yvonne Zhang: 深思考，多践行</title> 
	<link href="/myblog/image/up.ico" rel="shortcut icon" type="image/x-icon">
	{\% for css in page.css %\}
	<link rel="stylesheet" href="{\{ css }\}" type="text/css" />
	{\% endfor %\}
</head>
<body>
	{{ content }}
	{\% for js in page.javascript %\}
	<script type="text/javascript" src="{\{ js }\}" ></script>
	{\% endfor %\}
</body>
</html>